{% extends "base.html" %}
{% block content %}

  

  <h1>📝 Деталі завдання</h1>

  <h2>{{ task.title }}</h2>
  <p><strong>Опис:</strong> {{ task.description|default:"(немає опису)" }}</p>
  <p><strong>Створено:</strong> {{ task.created_at|date:"d.m.Y H:i" }}</p>
  <p><strong>Оновлено:</strong> {{ task.updated_at|date:"d.m.Y H:i" }}</p>

  {% if task.completed %}
    <p style="color: green;"><strong>Статус:</strong> виконано ✅</p>
  {% else %}
    <p style="color: orange;"><strong>Статус:</strong> у процесі ⏳</p>
  {% endif %}
  <p>
  <a href="{% url 'tasks:task_update' task.id %}" class="btn btn-primary">✏️ Редагувати</a>
  <a href="{% url 'tasks:task_delete' task.id %}" class="btn btn-danger">🗑️ Видалити</a>
</p>

  <p><a href="{% url 'tasks:task_list' %}">← Назад до списку</a></p>
{% endblock %}
